<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-4.0.xsd">
 	<!-- UI -->
	<bean id="display" class="com.az.ui.Display"></bean>
	
	<!-- Entities -->
	<bean id="amsDocument" class="com.az.entity.AmsDocument">
 	    <constructor-arg ref="excelDoc"/>
 	    <constructor-arg ref="display"/>
 	</bean>
 	<bean id="excelDoc" class="com.az.entity.ExcelDoc">
 	     <constructor-arg ref="display"/>
 	</bean>
    <bean id="sourceExcelDoc" class="com.az.entity.SourceExcelDoc">
         <constructor-arg ref="display" />
    </bean>
 	<bean id="fieldsResource" class="com.az.entity.FieldsResource">
 	    <property name="excelDoc" ref="excelDoc"/>
 	</bean>
 	<bean id="fieldsTarget" class="com.az.entity.FieldsTarget">
 	    <property name="excelDoc" ref="excelDoc"/>
 	  	<property name="individualFieldTarget" ref="individualFieldTarget"/>
 	</bean>
 	<bean id="individualFieldTarget" class="com.az.entity.IndividualFieldTarget">
 	    <property name="excelDoc" ref="excelDoc"/>
 	</bean>
 	<bean id="mapExpression" class="com.az.entity.MapExpression">
 	    <property name="excelDoc" ref="excelDoc"/>
 	</bean>
 	<bean id="recordLayoutEvents" class="com.az.entity.RecordLayoutEvents">
 	    <property name="excelDoc" ref="excelDoc"/>
 	</bean>
    <bean id="sourceFields" class="com.az.entity.SourceFields">
        <property name="sourceExcelDoc" ref="sourceExcelDoc" />
    </bean>
 	<bean id="schemaElements" class="com.az.entity.SchemaElements">
 	    <property name="fieldsTarget" ref="fieldsTarget"/>
 	    <property name="amsDocument" ref="amsDocument"/>
 	    <property name="excelDoc" ref="excelDoc"/>
        <property name="sourceExcelDoc" ref="sourceExcelDoc" />
 	    <property name="fieldsResource" ref="fieldsResource"/>
 	    <property name="mapExpression" ref="mapExpression"/>
 	    <property name="recordLayoutEvents" ref="recordLayoutEvents"/>
        <property name="sourceFields" ref="sourceFields" />
 	</bean>
 	<bean id="xmlDoc" class="com.az.entity.XmlDoc"></bean>
 	
</beans>